@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--miden-dark-950);
}

@layer base {
	:root {
		--miden-dark-950: #141318;
		--miden-dark-700: #2b2932;
		--miden-dark-800: #212027;
		--miden-blue: #28354c;
		--rounded-miden: 5px;
	}
}
